@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Figtree:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.border-gradient {
  position: relative;
  z-index: 0;
}
.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px;
  height: 100%;
  border-radius: 0;
  background: linear-gradient(180deg,rgba(156, 125, 255, 1) 0%, rgba(255, 229, 232, 1) 100%);
  pointer-events: none;
  z-index: -1;
}

.no-scrollwidth {
  scrollbar-width: none;
}

@theme inline {
  --font-figtree: "Figtree", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-allerta: "Allerta", sans-serif;
    
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-two: var(--primary-two);
  --color-primary-three: var(--primary-three);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-cyan: var(--accent-cyan);
  --color-accent-electric-blue: var(--accent-electric-blue);
  --color-accent-shadow: var(--accent-shadow);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-confirm: var(--confirm);
  --color-pending: var(--pending);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  /* --color-chart-5: var(--chart-5); */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(12.297% 0.06511 263.458);
  --foreground: oklch(100% 0.00011 271.152);

  --card: #12142A;
  --card-foreground: var(--foreground);

  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: var(--foreground);

  --primary: oklch(33.363% 0.16983 302.262);
  --primary-two: oklch(67.838% 0.18576 291.658);
  --primary-three: oklch(94.381% 0.02875 9.505);
  --primary-foreground: var(--foreground);

  --secondary: #12142A;
  --secondary-foreground: #C7C9D9;

  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: #8A8FA9;

  --primary-button: linear-gradient(90deg,rgba(73, 6, 124, 1) 0%, rgba(156, 125, 255, 1) 100%); 

  --accent: #FF4D9E;
  --accent-cyan: #00F6FF;
  --accent-electric-blue: #3A86FF;
  --accent-shadow: #676D8B;
  --accent-foreground: var(--foreground);

  --destructive: #FF5151;
  --confirm: #28E044;
  --pending: #F4BE37;

  --border: #2B2F45;
  --input: #1D2140;
  --ring: oklch(0.552 0.016 285.938);

  --chart-1: var(--primary);
  --chart-2: var(--accent);
  --chart-3: var(--pending);
  --chart-4: var(--primary-two);
  /* --chart-5: oklch(0.645 0.246 16.439); */
  
  --sidebar: #050719;
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: var(--foreground);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: linear-gradient(180deg,rgba(156, 125, 255, 1) 0%, rgba(255, 229, 232, 1) 100%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border font-figtree;
  }
  body {
    @apply bg-background text-foreground;
  }
}